@import "tailwindcss";

@theme {
  --color-white: #FFF;
  --color-gray-900: #121214;
  --color-gray-800: #202024;
  --color-gray-300: #c4c4cc;
  --color-gray-100: #e1e1e6;
  --color-green-500: #00875f;
  --color-green-300: #00b37e;

  --font-size-md: 1.125rem;
  --font-size-lg: 1.25rem;
  --font-size-xl: 1.5rem;
  --font-size-2xl: 2rem;
}

body {
  background-color: var(--color-gray-900);
  color: var(--color-gray-100);
  -webkit-font-smoothing: antialiased;
}

body, input, button, textarea {
  font-family: var(--font-roboto), 'Roboto', sans-serif;
  font-weight: 400;
}
